html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100%; width: 100%; cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;}
/*search box start*/
  .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 5%;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
/*search box end*/
#eroare_rasp {
	position:absolute;
	bottom:2%;
	right:1.1%;
	margin: 0px;
	font-size:1.05vw;
	font-family:Calibri; 
	font-weight:bold;
	color: red;
	
}

p.form_denumire {
	position: fixed;
	top:13.5%;
	right: 5.4%;
	left:79.2%;
	font-size:1.05vw;
	font-family:Calibri;
}       
p.form_cand{
	position:absolute;
	top:21.7%;
	right:0.5%;
	left: 79.2%;
	margin: 0px;
	font-size:1.05vw;
	font-family:Calibri;
	
}


p.form_unde{
	position:absolute;
	top:27.4%;
	right:2.4%;
	left:79.2%;
	margin: 0px;
	font-size:1.05vw;
	font-family:Calibri;
}

p.form_circ{
	position:absolute;
	top:33.5%;
	right:8%;
	left:79.1%;
	margin: 0px;
	font-size:1.05vw;
	font-family:Calibri;       
}

p.form_caini{
	position:absolute;
	top:39.7%;
	right:3%;
	left:79.1%;
	margin: 0px;
	font-size:1.05vw;
	font-family:Calibri;
}

p.form_lum{
	position:absolute;
	top:46.5%;
	right:8.5%;
	left:79.1%;
	margin: 0px;
	font-size:1.05vw;
	font-family:Calibri;
}


p.form_sig{
	position:absolute;
	top:53.2%;
	right:3.4%;
	left:79.1%;
	margin: 0px;
	font-size:1.05vw;
	font-family:Calibri;
	float: left;
	
}

p.form_obs{
	position:absolute;
	top:66.8%;
	right:9.7%;
	left:79.1%;
	margin: 0px;
	font-size:1.05vw;
	font-family:Calibri;
}

.fundal 
{
	position: absolute;
	top:14.2%;
	right:1%;
	width:20.7%;
	height:74%;
	background-color:#b8e356;
	opacity:0.8;
	}

.fundal_info 
{
	position: absolute;
	top:14.2%;
	left:5.6%;
	right:80%;
	width:21.8%;
	height:14.9%;
	line-height:15%;
	background-color:#b8e356;
	opacity:0.8;
	transition: visibility 0s linear 0.2s,opacity 0.2s linear;
	}	

.dublura { /*to solve the height problem (fundal_info too small) on Firefox*/
	position: absolute;
	top:29.2%;
	left:5.6%;
	right:80%;
	width:21.8%;
	height:2%;
	line-height:15%;
	background-color:#b8e356;
	opacity:0.8;
	transition: visibility 0s linear 0.2s,opacity 0.2s linear;
}

p.subm {
	position:absolute;
	top:22%;
	right:10%;
	font-size:1.05vw;
	font-family:Calibri;
	
}

p.nota
{
	position:absolute;
	bottom:14%;
	right:1%;
	left:79%;
	font-size:0.9vw;
	font-family:Calibri;
}

p.expl
{
	position:absolute;
	bottom:10.5%;
	right:7.2%;
	left:79%;
	font-size:0.9vw;
	font-family:Calibri;
}

p.info {
		position: absolute;
	top:12%;
	left:6.1%;
	right:73.3%;
	font-size:1vw;
	font-family:Calibri;
	text-align:justify;
	transition: visibility 0s linear 0.2s,opacity 0.2s linear;
}


textarea#textden {
width:15vw;
height:2.4vh;
resize: none;
font-size:0.9vw;
font-family: Calibri;
overflow:auto;
}

textarea#textcand {
width:15vw;
height:2.4vh;
resize: none;
font-size:0.9vw;
font-family: Calibri;
overflow:auto;
}

textarea#textunde {
width:15vw;
height:2.4vh;
resize: none;
font-size:0.9vw;
font-family: Calibri;
overflow:auto;
}

textarea#textsig{
position: fixed;
width:15%;
height:7%;
overflow:auto;
resize: none;
font-size:0.9vw;
}

textarea#textobs{
position:fixed;
width:15%;
height:7%;
overflow:auto;
resize: none;
font-size:0.9vw;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width:9vw;
    height:0.5vh;
} /*se aplica pentru toate campurile de tip "range"*/

.salv {
	position:absolute;
	bottom:3%;
	right:6.5%;
	margin: 1%;
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Calibri;
	font-size:1.4vw;
	font-weight:bold;
	font-style:normal;
	height:5%;
	line-height:130%;
	width:6%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;

}


 .sterg {
	position:absolute;
	bottom:3%;
	right:0%;
	margin: 1%;
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Calibri;
	font-size:1.4vw;
	font-weight:bold;
	font-style:normal;
	height:5%;
	line-height:130%;
	width:6%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}

.inchide {
	position:absolute;
	top:8.8%;
	left:23%;
	margin: 1%;
	transition: visibility 0s linear 0.2s,opacity 0.2s linear;
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Calibri;
	font-size:1vw;
	font-weight:bold;
	font-style:normal;
	height:3%;
	line-height:130%;
	width:3.3%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;

}

.acasa {
	position:absolute;
	top:8%;
	right:1%;
	margin: 1px;
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Calibri;
	font-size:1.4vw;
	font-weight:bold;
	font-style:normal;
	height:5%;
	line-height:130%;
	width:6%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}