html { min-height: 100%; position:relative; overflow: scroll }
   body { height: 100%; width:100%; background-color: #fcf8ea}

	.bara_stanga {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		width:20vw;
		height:100%;
		overflow:auto;
		background-color: #b8e356;
		opacity:0.8;
	}
	
	.bara_dreapta {
		position:absolute;
		top:0;
		bottom:0;
		left:80%;
		right:0;
		width:20vw;
		height:100%;
		overflow:auto;
		background-color: #b8e356;
		opacity:0.8;
	}
	
	.termeni {
	position:absolute;
	top: 1%;
	bottom:10%;
	left:23%;
	right:21%;
	font-family: Trebuchet MS;
	font-size: 2.8vw;
	color: #44433b;
	}
	
	.termeni_parag {
	position: absolute;
	top: 14%;
	left: 23%;
	right:21%;
	font-family: Calibri;
	font-size: 1vw;
	font-color: black;
	text-align: justify;
	}
	
	.contact {
	position: absolute;
	top: 155%;
	left: 23%;
	right:21%;
	font-family: Calibri;
	font-size: 1.4vw;
	color: #44433b;
	}


	.acasa {
	position:absolute;
	top:3%;
	right:21%;
	margin: 1px;
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Calibri;
	font-size:1.4vw;
	font-weight:bold;
	font-style:normal;
	height:5%;
	line-height:130%;
	width:6%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}