html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 80%; width:50%; position:fixed; top:100px; left:30px;}
		
.tbl_dist {
 position:absolute;
	    top:6.5%;
        left:4.3%;
		height:4vh;
		border-collapse:collapse;
		border:1px solid;
		font-family:Calibri;
		font-size:1.8vw;
		color:#3d3a2f;
		border-color:#9e9e8e;
		
}	

p.titlu{
		position:absolute;
	    bottom:88.5%;
        left:4.3%;
		right:5%;
        font-size:5.3vh;
        font-family:Calibri;
		font-type:bold;
		}

	  
	  p.detalii{
         
		position:absolute;
	    top:9.2%;
        left:61%;
		right:25%;
        font-size:2vw;
        font-family:Calibri;
		font-type:bold;
		}


p.form_cand{
        position:absolute;
	    top:16%;
        left:61%;
		right:10%;
        font-size:1.2vw;
        font-family:Calibri;
        
}


p.form_unde{
        position:absolute;
	    top:25.2%;
        left:61.1%;
        font-size:1.2vw;
        font-family:Calibri;
}


p.form_circ{
        position:absolute;
	    top:34.3%;
        left: 61.1%;
        font-size:1.2vw;
        font-family:Calibri;
		}

p.form_caini{
        position:absolute;
	    top:40%;
        left:61.1%;
		right:15%;
        font-size:1.2vw;
        font-family:Calibri;
		}

p.form_lum{
        position:absolute;
	    top:48.7%;
        left: 61.1%;
        margin: 0px;
		font-size:1.2vw;
        font-family:Calibri;
		}		
		

p.form_sig{
        position:absolute;
	    top:52.5%;
        left: 61.1%;
        font-size:1.2vw;
        font-family:Calibri;
		}		
	
p.form_obs{
        position:absolute;
	    top:67.3%;
        left: 61.1%;
        font-size:1.2vw;
        font-family:Calibri;
		}

p.nota
{
	position:absolute;
	bottom:13.3%;
	right:10%;
	left:61.1%;
	font-size:0.9vw;
	font-family:Calibri;
}


textarea#textcand {
position:fixed;
top:22%;
left:61.1%;
right:20%;
width:22vw;
height:4.5vh;
resize: none;
font-size:0.9vw;
font-family: Calibri;
border-color: black;
background-color: white;
border-style: solid;
border-width: thin;
overflow:auto;
}

textarea#textunde {
position:fixed;
top:31%;
left:61.1%;
right:20%;
width:22vw;
height:4.5vh;
resize: none;
font-size:0.9vw;
font-family: Calibri;
border-color: black;
background-color: white;
border-style: solid;
border-width: thin;
overflow:auto;
}

textarea#textsig{
position:fixed;
width:15%;
height:8%;
overflow:auto;
resize: none;
font-size:0.9vw;
font-family: Calibri;
}

textarea#textobs{
position:fixed;
width:15%;
height:8%;
overflow:auto;
resize: none;
font-size:0.9vw;
font-family: Calibri;
}
  
meter {
height:2vh;
} /*citit de chrome si mozilla*/

meter::-webkit-meter-optimum-value {
    background: #f77e1b; /* Green */
    height:2vh;
}/*doar pentru chrome*/

meter:-moz-meter-optimum::-moz-meter-bar {
    background: #f77e1b;
}/*pentru mozilla*/
.fundal 
{
position: absolute;
top: 13%;
right: 7%;
left:60%;
width:27%;
height:73.5%;
opacity:0.6;
-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	
}

.acasa {
	position:absolute;
	bottom:7%;
	right:12.8%;
	margin: 1px;
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Calibri;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}
body {background-image:url("http://www.ciclogetii.ro/wp-content/uploads/bucuresti.jpg")}